<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
    <add name="localhost_robit_db_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=rootmydb; database=robit_db;persist security info=true;CharSet=utf8;" />
    <add name="localhost_samsung_sdi_db_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=samsung_sdi_db;persist security info=true;CharSet=utf8;" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
